<div style="margin-bottom: 3em; display: flex;">
  <div>
    <a href="/node/add/budget/node/add/budget" class="button">Ajouter</a>
  </div>
  <div>
    <a href="/admin/budge/import?destination=/budge" class="button" style="margin-left: 1em;">Importer</a>
  </div>
  <div>
    <a href="/admin/budge/export" class="button" style="margin-left: 1em;">Exporter</a>
  </div>
</div>

{% for id,budget in content %}
  <h2>{{ budget.list['title'] }}</h2>
  <div style="margin-bottom: 1em; display: flex;">
    <div>
      <a href="/budge/edit/{{ id }}" class="button">Editer</a>
    </div>
  </div>

  <table id="budge-{{ id }}" class="budge display">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Type</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Solde</th>
    </tr>
    </thead>
    <tbody>
    {% for item in budget.sorted %}
      {% if item['afficher'] %}
        <tr>
          <td>{{ item['Titre'] }}</td>
          <td>{{ item['Type'] }}</td>
          <td>{{ item['Date'] }}</td>
          <td>{{ item['Montant'] }}</td>
          <td>{{ item['Solde'] }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endfor %}
