
<div class="button" style="margin-bottom: 1em;">
  <a href="/budge/edit">Editer</a>
</div>

<table id="budge" class="display">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Type</th>
    <th>Date</th>
    <th>Montant</th>
    <th>Solde</th>
  </tr>
  </thead>
  <tbody>
  {% for item in content.sorted %}
    <tr>
      <td>{{ item['Titre'] }}</td>
      <td>{{ item['Type'] }}</td>
      <td>{{ item['Date'] }}</td>
      <td>{{ item['Montant'] }}</td>
      <td>{{ item['Solde'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
