{% for budget in content.budgets %}
  <div>
    {% if content.showMonthlyExpenses %}
      <div>
        <h2 style="font-weight: bold; font-size: large;">{{ budget['list']['title'] }}</h2>
        <div>
          <h3>Solde actuel</h3>
          <p style="font-weight: bold; font-size: large;">{{ budget['currentAmount'] }} euros</p>
        </div>
        <div>
          <h3>Solde prévisionnel</h3>
          <p style="font-weight: bold; font-size: large;">{{ budget['expectedAmount'] }} euros</p>
        </div>
        <h3>Dépenses mensuelles (incluant les prévisions)</h3>
        <p style="font-weight: bold; font-size: large;">{{ budget['expenses']['monthly'] }} euros</p>
      </div>
    {% endif %}

    {% if content.showPonctualExpenses %}
      <div>
        <h3>Dépenses poncuelles</h3>
        <p style="font-weight: bold; font-size: large;">{{ budget['expenses']['ponctual'] }} euros</p>
      </div>
    {% endif %}
  </div>
{% endfor %}
